body {
    margin: 0;
    background: url(/img/wc1684076\ 1.png) center center no-repeat, linear-gradient(#eb01a5, #d13531);
    /* background-image: url(/img/wc1684076.jpg), linear-gradient(#eb01a5, #d13531);  */
    background-size: cover;
    background-position: center;
    font-family: 'Reggae One', cursive;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgb(8, 8, 8);
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu-item--logo {
    margin-right: auto;
}


/* div { 
    color: rgb(255, 255, 255); 
    background: rgb(243, 10, 119); 
 
    width: 200px; 
    height: 250px; 
 
    border: 20px solid rgb(155, 1, 245) 
}

div{
    width: 400px;
    height: 200px;
    background: purple;
    color: white 
}
     */

.most-watched__img {
    /* width: 100%; */
    width: 300px;
    margin: 20px;

}

/* SEARCH */

.search {
    background-color: white;
    margin-bottom: 200px;
}

.most-watched {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    margin-bottom: -25px;
}

.text {
    width: 700px;
    margin-bottom: 0vmax;
}

.search-img {
    width: 180px;
margin: 20px;
}
